<div class="user-follow-lists">
  <div class="user-show">
    <%= link_to "#{@user.nickname}さん詳細ページへ戻る",user_path(@user.id) %><br> 
  </div>

  <div class="user-name">
    <%= "#{@user.nickname}さんがフォローしているユーザー"%><br> 
  </div>

  <div class="non-follow">
    <% if @following.length == 0 %>
      <%= "#{@user.nickname}さんは誰もフォローしていません"%>
    <% end %>
  </div>

  <div class="follow-lists">
    <% @following.each do |following| %>
      <div class="post">
        ユーザー名：<%= link_to following.nickname,user_path(following.id) %><br> 
      </div>
    <% end %>
  </div>
</div>